.btn {

  text-transform: uppercase;

  a {
    border-radius: 30px;
    color: white;
    padding: 20px 40px;

    transition: 0.4s ease;

    @media (max-width: 320px) {
      font-size: 12px;
    }
  }

  &--contact {

    a {
      background: $cool-grey;

      &:hover {
        background: lighten($cool-grey, $amount: 5);
      }
    }
  }
}
