@media (max-width: 1280px) {
  div.about-circles {
    &::before {
      width: 200px;
      height: 200px;

      right: 200px;
      top: 100px;
    }

    &::after {
      width: 300px;
      height: 300px;
      top: 500px;
      right: 300px;
    }
  }
}

@media (max-width: 1050px) {
  div.about-circles {
    &::after {
      right: 100px;
    }
  }
  main.about {
    & > div {
      grid-template-columns: 1fr 350px;
    }
  }
}

@media (max-width: 830px) {
  div.about-circles {
    &::before {
      right: auto;
      left: 0;
    }

    &::after {
      right: 10px;
    }
  }

  main.about {
    margin-top: 80px;
    padding: 40px;

    & > div {
      grid-template-columns: 1fr;

      .img {
        display: none;
      }
    }
  }

  .about__projects {
    padding: 0 40px 80px;
  }

  .about__quotes {
    margin-top: 0;
    padding: 20px 60px;
  }
}
