.loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 8px;
  width: 48px;

  & > &__dot {
    background: $white;
    height: 100%;
    width: 8px;

    border-radius: 50%;

    animation: loading 0.8s cubic-bezier(0.19, 1, 0.22, 1) infinite;

    &:nth-of-type(2) {
      animation-delay: 0.2s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes loading {
  0% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(0);
  }
}
