@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap");
@import "./variables";
@import "./buttons/buttons";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;

  line-height: 1.5;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: $black;
}

.arrow-up {
  border: 1px solid $black;
  border-radius: 50%;

  position: fixed;
  bottom: 60px;
  right: 120px;

  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;

  transition: 0.8s ease;
  opacity: 0;

  cursor: pointer;

  img {
    transform: rotate(-90deg);
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease;
}

.fade-enter-done,
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms ease;
}

.fade-exit-done {
  opacity: 0;
}
@import "./intro";
@import "./components/loader";

@import "./components/nav";
@import "./components/main";
@import "./components/services";
@import "./components/resume";

@import "./components/main_about";

@import "./components/main_contact";
@import "./components/form";
